<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Art des Choix</title>
       </head>
       <div>
              <h1 class="animation">Et maintenant on va où ?</h1>
              <img src="V239.png" class="img" />
              <div class="block">
                     <h2>Tout est une question de choix dans la vie :</h2>
                     <p>Tu papotes avec le groupe pour te détendre, rigoles un peu,<br />
                     puis tu enchaînes en commençant par :</p>
              </div>
              <ul>
                     <li id="prem"><a href="toilettes">Aller<br />
                     aux toilettes</a></li>
                     <li id="deux"><a href="plan">Planifer<br />
                     ta journée</a></li>
                     <li id="trois"><a href="ordinateur">Ouvrir<br/>
                     ton ordinateur</a></li>
                     <li id="quatre"><a href="cafe">Boire<br />
                     une café</a></li>
                     <li id="cinq"><a href="faire_tour">Faire<br />
                     un tour</a></li>
              </ul>
       </div>
</html>