<!DOCTYPE html>
<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Parcours Agroalimentaire</title>
       </head>
       <body> 
       <h1>L’agroalimentaire</h1> 

		<h3>Grâce à des normes adaptés , nous avons des produits de terroir reconnus et qui conservent une Qualité sans précédent avec des appellations, 
		Gages de savoir faire et fierté de ses habitants :</h3>

 

 

				<ul>>- AOP/AOC Produits (Appellation d’origine contrôlée)

				<li>IGP (Indication Géographique protégé)</li>

				<li>STG (Spécialité traditionnelle garantie), protége la composition traditionnelle d'un produit, ou mode de production Les matières premières appliquer à tous les produits agricoles et agro-alimentaires.</li>

				<li>L'agriculture biologiques. Visant à la préservation des sols, des ressources naturelles, de l'environnement ,souvent considérée comme un ferment de l'agriculture durable.</li>
				</ul>

La demande d’emploi selon les niveaux de qualification (filtre NAF88) :

  

   Pour exemple, en 2013, la ZTEF Drôme Ardèche Centre compte 183 industries agroalimentaires, et emploie 3,3% de la population totale salariée du territoire. En moyenne, une entreprise de ce secteur emploie 13 salariés. Le nombre d’emplois salariés sur la ZTEF  a baissé de 2% entre 2009 et 2013.        
           Offre de formation sur la ZTEF






Formation initiale

Bac pro agroéquipement  Lycée agricole le Valentin Bourg les Valence

BTSA sciences et technologies des aliments spécialité aliments et processus technologiques Lycée agricole le Valentin Bourg les Valence

Licence pro commerce spécilaité gestion et marketing du secteur vinicole   IUT Université Pierre Mendès France Valence

 

Formation continue

Formation certifiante-  

CFPPA le Valentin Bourg les Valence, IFRA Valence, AFPA Valentin, Greta Viva 5 Valence, ENILV (école nationale des industries du Lait et de la Viande) Valence, IUT Valence

Actualisation des compétences et complément de professionnalisation

AFPA Valence, CFPPA le Valentin, CCI Privas
       </body>         
</html>
