<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Parcours Agroalimentaire</title>
  </head>
  <body> 
    <h1 class="animation">Ai-je ma place dans l'ago-alimentaire ?</h1>
    <nav>
            <a href="/" title="S'y rendre">Accueil</a>    
            <a href="qualite" title="S'y rendre">Qualité</a>
            <a href="diplome" title="S'y rendre">Diplômes</a>
            <a href="salaire" title="S'y rendre">Salaires</a>
            <a href="Filiere" title="S'y rendre">Filiere</a>
            <a href="perspectives" title="S'y rendre">Perspectives</a>          
    </nav>     
    <div class="block">
    <h2>L’agroalimentaire</h2>
    <p>Grâce à des normes adaptés , nous avons des produits de terroir reconnus et qui conservent une qualité sans précédent avec des appellations,</p> 
    <p>Gages de savoir faire et fierté de ses habitants :</p>
    </div> 

     
    <ul>
    <li><p> AOP/AOC Produits (Appellation d’origine contrôlée)</p></li>

      <li><p> IGP (Indication Géographique protégé)</p></li>

      <li><p> STG (Spécialité traditionnelle garantie), protége la composition traditionnelle d'un produit, ou mode de production Les matières premières appliquer à tous les produits agricoles et agro-alimentaires.</p></li>

      <li><p>L'agriculture biologique, visant à la préservation des sols, des ressources naturelles, de l'environnement ,souvent considérée comme un ferment de l'agriculture durable.</p></li>
    </ul>

    <img class="center" src="Wo6MAt0M.png" /> 

    <p>7 activités agroalimentaires concentrent 80% de l’emploi salarié du territoire.</p>
    <p>Le territoire de l’ancienne communauté de communes Rhône Crussol a perdu 62 emplois entre 2009 et 2013, soit 50% de l’effectif salarié dans l’agroalimentaire de son territoire.</p> 
    <p>L’ancienne communauté de communes des deux chênes a connu à l’inverse une augmentation de 30,1% de l’emploi salarié, ce qui représente en 2013 un total de 164 salariés dans l’agroalimentaire.</p>

    <h2>La demande d’emploi selon les niveaux de qualification (filtre NAF88) :</h2>

      

       <p>Pour exemple, en 2013, la ZTEF Drôme Ardèche Centre compte 183 industries agroalimentaires, et emploie 3,3% de la population totale salariée du territoire.</p>
       <p>En moyenne, une entreprise de ce secteur emploie 13 salariés.</p>
       <p>Le nombre d’emplois salariés sur la ZTEF  a baissé de 2% entre 2009 et 2013.</p>
    <h2>Localisation des industries agroalimentaires sur le territoire</h2>
      <div class="coller">
       <img class="center" src="Hc3wpWl_.png"
       /><img class="justcenter" src="7pV6uDPh.png" />
      </div>
      <div class="cubes">
          <div class="cube violet scale"><a href="http://geo-agro2607.pagefr.com/">Site de géolocalisation des entreprises ago-alimentaire en Drôme Ardèche</a></div>
      </div>
    <h2>Les Enjeux</h2>

    <p>Le territoire Ardèche Verte et le territoire Drôme des collines Royans Vercors ont obtenu des financements de la Direccte pour envisager avec les entreprises agroalimentaires de leur territoire une gestion prévisionnelle des emplois et des compétences dans ce secteur. Le groupe agroalimentaire mis en place en 2012 par le CTEF Drôme Ardèche Centre travaille en coordination avec ces territoires pour agir de manière territorialisée et concertée sur les problématiques communes.</p>

    <p>Par ailleurs, la CGPME a également inclus l’agroalimentaire dans  ses axes prioritaires.</p>
    <img class="center" src="e0k_5W8l.png" />

    <p>La demande d’emploi selon les niveaux de qualification (filtre NAF88) :</p>
    <img class="center" src="iEG6riYN.png" />



    <h1>Offre de formation sur la ZTEF</h1>
    <h2>Formation initiale</h2>
      <ul>
           <li><p>Bac pro agroéquipement : Lycée agricole le Valentin Bourg les Valence</p></li>
           <li><p>BTSA sciences et technologies des aliments spécialité aliments et processus technologiques : Lycée agricole le Valentin Bourg les Valence</p></li>
           <li><p>Licence pro commerce spécilaité gestion et marketing du secteur vinicole : IUT Université Pierre Mendès France Valence</p></li>
      </ul>      

    <h2>Formation continue</h2>
    
       <h2>Formation certifiante</h2>  
       <ul>
           <li><p>CFPPA le Valentin Bourg les Valence</p></li>
           <li><p>IFRA Valence, AFPA Valentin,
           <li><p>Greta Viva 5 Valence</p></li>
           <li><p>ENILV (école nationale des industries du Lait et de la Viande) Valence</p></li> 
           <li><p>IUT Valence</p></li>
       </ul>
    

       <h2>Actualisation des compétences et complément de professionnalisation</h2>
       <ul>
          <li><p>AFPA Valence</p></li>
          <li><p>CFPPA le Valentin</p></li> 
          <li><p>CCI Privas</p></li>
       </ul>   
  </body>         
</html>
