<!DOCTYPE html>
<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Parcours Agroalimentaire</title>
       </head>
       <body>         
           <img class="center" src="CACES.png" alt="description du permis CACES" />
           <p class="bleu scale"><a href="diplome">Retour</a></p>
       </body>         
</html>