<!DOCTYPE html>
<html>
       <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Parcours Agroalimentaire</title>
       </head>
       <body>
              <h1 class="animation">Et maintenant on va où ?</h1>              
              <div class="block">
                     <h2>Ai-je ma place dans l'ago-alimentaire ?</h2>
                     <p>Puis je intégrer une équipe sans diplômes?</p>
              
             <p class="bleu scale">OUI</p>
             <p>Il y a énormément de possibilités de se former en interne au fur et à mesure de mon parcours 
            <ul>
               <li class="bleu scale"><a>Logistique</a></li>
               <li class="gris scale"><a>entretient machine</a></li>
               <li class="ocre scale"><a>des formation adultes Diplômantes</a></li>
               <li class="violet scale"><a href="CACES">des permis CACES</a></li> 
               <li class="vert scale"><a>formations APAVE</a></li>
            </ul>
   
            
               <ul>  
                 <li class="gris scale"><a>pour la sécurité</a></li> 
                 <li class="ocre scale"><a>des connaissances sur l'hygiène</a></li>   
               </ul>           


    <p>L’agroalimentaire recrute des jeunes aux séniors, diplômés de tous niveaux du CAP au diplôme d’ingénieur.
    Les métiers sont répertoriés en quatre grands domaines :</p>



    <ul>
      <li class="gris scale"><a>recherche et développement (formulateur/trice de produits alimentaires, ingénieur/e R & D…)</a></li>
      <li class="vert scale"><a>production (conducteur/trice de ligne de production, responsable de production…)</a></li>
      <li class="scale"><a></a></li>
      <li class="bleu scale"><a>qualité et maintenance (contrôleur/se qualité…)</a></li>
      <li class="violet scale"><a>commercialisation et logistique (chef de produit, responsable d’exploitation logistique…</a></li>
    </ul>
  </body>
       
</html>
