<!DOCTYPE html>
<html>
       <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Art des Choix</title>
       </head>
       <div>
              <h1 class="animation">Et maintenant on va où ?</h1>
              <img src="liste-d-attente.jpg" class="img" />
              <div class="block">
                     <h2>Ai-je ma place dans l'ago-alimentaire ?</h2>
                     <p>Puis je intégrer une équipe sans diplômes?</p>
              </div>
             <p class="prem">OUI</p>
<p>Il y a énormément de possibilités de se former en interne au fur et à mesure de mon parcours 
<ul>
   <li class="prem"><a>Logistique</a></li>
   <li class="deux"><a>entretient machine</a></li>
   <li class="trois"><a>des formation adultes Diplômantes</a></li>
   <li class="quatre"><a>des permis CASES</a></li> 
   <li class="cinq"><a>formations APAVE</a></li>
</ul>   

<div> 
<ul>  
   <li class="deux"><a>pour la sécurité</a></li> 
   <li class="quatre"><a>des connaissances surl'hygiène et les dévellopements</a></li>
</div>   
 </ul>
</div> 

<div> 
<p>L’agroalimentaire recrute des jeunes aux séniors, diplômés de tous niveaux du CAP au diplôme d’ingénieur.
Les métiers sont répertoriés en quatre grands domaines :</p>
</div>

<div>
<ul>
  <li class="cinq"><a>recherche et développement (formulateur/trice de produits alimentaires, ingénieur/e R & D…)</a></li>
  <li class="trois"><a>production (conducteur/trice de ligne de production, responsable de production…)</a></li>
  <li class="quatre"><a></a></li>
  <li class="prem"><a>qualité et maintenance (contrôleur/se qualité…)</a></li>
  <li class="deux"><a>commercialisation et logistique (chef de produit, responsable d’exploitation logistique…</a></li>
</ul>
</div>
       </div>
</html>
