<!DOCTYPE html>
<html>
       <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Art des Choix</title>
       </head>
       <div>
              <h1 class="animation">Et maintenant on va où ?</h1>
              <img src="liste-d-attente.jpg" class="img" />
              <div class="block">
                     <h2>Tout est une question de choix dans la vie :</h2>
                     <p>Notre facilitateur nous explique comment va se dérouler la journée,<br />
                     suite à quoi tu commences par :</p>
              </div>
              <ul>
                     <li id="prem"><a href="cafe">Boire<br />
                     un café</a></li>
                     <li id="deux"><a href="toilettes">Aller<br />
                     aux toilettes</a></li>
                     <li id="trois"><a href="ordinateur">Ouvrir<br/>
                     ton ordinateur</a></li>
                     <li id="quatre"><a href="fumer">Fumer<br />
                     une clope</a></li>
                     <li id="cinq"><a href="plan">Planifier<br />
                     ta journée</a></li>
              </ul>
       </div>
</html>