<div class="block">
       <h2>Ai-je ma place dans l'ago-alimentaire ?</h2>
       <p>Puis je intégrer une équipe sans diplômes?</p>
</div>
<div class="centre"><p class="bleu scale">OUI</p></div>
<p>Il y a énormément de possibilités de se former en interne au fur et à mesure de mon parcours
<ul class="cubes">
 <li class="cube bleu scale"><a>Logistique</a></li>
 <li class="cube gris scale"><a>entretient machine</a></li>
 <li class="cube ocre scale"><a>des formation adultes Diplômantes</a></li>
 <li class="cube violet scale"><a href="CACES">des permis CACES</a></li>
 <li class="cube vert scale"><a>formations APAVE</a></li>
</ul>


 <ul class="cubes">
   <li class="cube gris scale"><a>pour la sécurité</a></li>
   <li class="cube ocre scale"><a>des connaissances sur l'hygiène</a></li>
 </ul>


    <p>L’agroalimentaire recrute des jeunes aux séniors, diplômés de tous niveaux du CAP au diplôme d’ingénieur.
    Les métiers sont répertoriés en quatre grands domaines :</p>



    <ul class="cubes">
      <li class="cube gris scale"><a style="font-size: 25px;">recherche et développement (formulateur/trice de produits alimentaires, ingénieur/e R & D…)</a></li>
      <li class="cube vert scale"><a style="font-size: 25px;">production (conducteur/trice de ligne de production, responsable de production…)</a></li>
      <li class="cube scale"><a></a></li>
      <li class="cube bleu scale"><a style="font-size: 25px;">qualité et maintenance (contrôleur/se qualité…)</a></li>
      <li class="cube violet scale"><a style="font-size: 25px;">commercialisation et logistique (chef de produit, responsable d’exploitation logistique…</a></li>
    </ul>
