<!DOCTYPE html>
<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style2.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Art des Choix</title>
       </head>
       <div>
              <h1 class="animation">Et maintenant on va où ?</h1>
              <img src="ecran-noir-windows8.jpg" class="img" />
              <div class="block">
                     <h2>Tout est une question de choix dans la vie :</h2>
                     <p>Horreur ! Devant ce constat tu te décides à :</p>
              </div>
              <ul>
                     <li id="prem"><a href="formater">Formater<br />
                      ton ordinateur pour réinstaller un OS</a></li>
                     <li id="deux"><a href="lire">Lire<br />
                     un livre dans un coin</a></li>
                     <li id="trois"><a href="fumer">Fumer<br/>
                     une clope</a></li>
                     <li id="quatre"><a href="console">Ouvrir<br />
                     une session en mode console Alt+F2</a></li>
                     <li id="cinq"><a href="attendre">Attendre<br />
                     des instructions</a></li>
              </ul>
       </div>
</html>