<html>
    <head>
    <link rel="stylesheet" href="style2.css" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Art des Choix</title>    
    </head>
    <body> 
      
        <form action="/" method="post">
          <p>Identifiant: <input type="text" name="post[id_user]" size="20"/></p>
          <p>Mot de passe: <input type="text" name="post[password_user]" size="20"/></p>
          <input type="submit" value="Bienvenue simplonien !">
        </form>
    </body>
</html>