<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Parcours Agroalimentaire</title>
       </head>
  <body> 
           
       
              <h1 class="animation">Ai-je ma place dans l'ago-alimentaire ?</h1>
  <nav>               
          <a href="perspectives" title="S'y rendre">Perspectives</a>
          <a href="diplome" title="S'y rendre">Diplômes</a>
          <a href="salaire" title="S'y rendre">Salaires</a>
          <a href="qualite" title="S'y rendre">Qualité du terroir</a>    
          <a href="bilan_agroalimentaire" title="S'y rendre">Bilan</a>
          <a href="filiere" title="S'y rendre">Filière</a>          
  </nav> 
              <div class="block">
                     <h2>Survolons ensemble les choix possibles dans ces secteurs.</h2>
                     <p>Pourquoi es-tu intéressé par un travail dans l'agro-alimentaire ?</p>
              </div>  
            <div class="cubes">
              <div class="cube bleu scale"><a  href="perspectives">L'attraît des perspectives <br />
              professionnelles</a></div>
              <div class="cube ocre scale"><a href="terroir">J'adore travailler avec des produits<br />
              du terroir</a></div>                   
            </div>
       
  </body>     
</html>
