
<div class="block">
  <h2>Survolons ensemble les choix possibles dans ces secteurs.</h2>
  <p>Pourquoi es-tu intéressé par un travail dans l'agro-alimentaire ?</p>
</div>
<div class="cubes">
  <div class="cube bleu scale"><a  href="perspectives">L'attraît des perspectives <br />
  professionnelles</a></div>
  <div class="cube ocre scale"><a href="terroir">J'adore travailler avec des produits<br />
  du terroir</a></div>
</div>
