<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
	<link rel="stylesheet" href="style.css" />
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>Parcours Agroalimentaire</title>
	</head>
  <body>
  	<h1 class="animation">Ai-je ma place dans l'ago-alimentaire ?</h1>
  	<nav>
		<a href="/" title="S'y rendre">Accueil</a>
		<a href="qualite" title="S'y rendre">Qualité</a>
		<a href="diplome" title="S'y rendre">Diplômes</a>
		<a href="salaire" title="S'y rendre">Salaires</a>
		<a href="bilan_agroalimentaire" title="S'y rendre">Bilan</a>
		<a href="filiere" title="S'y rendre">Filière</a>
  	</nav>
  	<div class="container">
    	<%= yield %>
	</div>
  </body>
</html>