<!DOCTYPE html>
<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style2.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Art des Choix</title>
       </head>
       <div>
              <h1 class="animation">Et maintenant on va où ?</h1>