<!DOCTYPE html>
<html>
      <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="style2.css" />
      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <title>Art des Choix</title>
      </head>
      <div>
            <h1 class="animation">Et maintenant on va où ?</h1>
            <img src="ordinateur.jpg" class="img" />
            <div class="block">
                  <h2>Tout est une question de choix dans la vie :</h2>
                  <p>Tu allumes ton computer et tu te retrouves avec :</p>
            </div>
            <ul>
                  <li id="prem"><a href="ecran_noir">Un<br />
                  écran noir !</a></li>
                  <li id="deux"><a href="form">Une demande<br />
                  de mot de passe que tu as oublié !</a></li>
                  <li id="trois"><a href="update">Une tonne<br/>
                  de mises à jour</a></li>
                  <li id="quatre"><a href="fonctionnel">Un beau<br />
                  bureau fonctionnel et léger</a></li>
                  <li id="cinq"><a href="caffouilli">Un bureau<br />
                  caffouillis, long à charger</a></li>
                  </ul>
      </div>
</html>