<!DOCTYPE html>
<html>
      <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Parcours Agroalimentaire</title>
       </head>
       <body>
              <h1 class="animation">Ai-je ma place dans l'ago-alimentaire ?</h1>
              <div class="block">
              <h2>Pourquoi estimes-tu que les perspectives sont bonnes ?</h2>              
              </div>
              <ul>
                     <li class="bleu scale"><a href="salaire">Bon <br />
                     salaire</a></li>
                     <li class="gris scale"><a href="securite">Sécurité de<br />
                     l'emploi</a></li>
                     <li class=" scale"><a href="perspectives"></a></li>
                     <li class="ocre scale"><a href="diplome">Pas forcement<br/>
                     besoin de diplôme</a></li>
                     <li class="vert scale"><a href="proximite">Proximité du<br />
                     lieu de travail</a></li>                     
              </ul>
       </body>
</html>