<!DOCTYPE html>
<html>
      <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Art des Choix</title>
       </head>
       <div>
              <h1 class="animation">Et maintenant on va où ?</h1>
       
              <h2>Ai-je ma place dans l'ago-alimentaire ?</h2>
              <p>Pourquoi estimes-tu que les perspectives sont bonnes ?</p>
              </div>
              <ul>
                     <li class="prem"><a href="salaire">Bon <br />
                     salaire</a></li>
                     <li class="deux"><a href="sécurité">Sécurité de<br />
                     l'emploi</a></li>
                     <li class="cinq"><a href="perspectives"></a></li>
                     <li class="trois"><a href="diplome">Pas forcement<br/>
                     besoin de diplôme</a></li>
                     <li class="quatre"><a href="proximite">Proximité du<br />
                     lieu de travail</a></li>                     
              </ul>
       </div>
</html>