<!DOCTYPE html>
<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Parcours Agroalimentaire</title>
       </head>
       <body>
              <h1 class="animation">Ai-je ma place dans l'ago-alimentaire ?</h1>
       <nav>               
               <a href="/" title="S'y rendre">Accueil</a>    
               <a href="perspectives" title="S'y rendre">Perspectives</a>
               <a href="diplome" title="S'y rendre">Diplômes</a>
               <a href="salaire" title="S'y rendre">Salaires</a>
               <a href="bilan_agroalimentaire" title="S'y rendre">Bilan</a>
               <a href="filiere" title="S'y rendre">Filière</a>          
       </nav> 
              <div class="block">
                    <h2>La qualité de vie du territoire Ardèche et Drôme</h2>
              </div>
      <img class="center" src="montmiral_2_seauve.jpg" />

                    <div class="cubes">
                       <div class="cube ocre scale"><a>le climat</a></div>                       
                       <div class="cube bleu scale"><a>la richesse des sous sols</a></div>
                       <div class="cube"><a></a></div>
                       <div class="cube violet scale"><a>le peu de pollution</a></div>
                       <div class="cube"><a></a></div> 
                    </div> 

      <p>Nous donnent des produit excellents pour la santé.</p>

      <p>Le choix des produits de base sont  souvent de provenance <strong>locale</strong> afin de privilégier les circuits les plus courts pour ne pas avoir besoin de conservateurs et réduire la cosommation des combustibles.</p> 
      <p>Réduire les transports, c'est aussi réduire l'émission de CO² responsable des effets de serre et du réchauffement climatique.</p>
      </body>
</html>
                    