<!DOCTYPE html>
<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Parcours Agroalimentaire</title>
       </head>
       <body>
              <h1 class="animation">Ai-je ma place dans l'ago-alimentaire ?</h1>
              <div class="block">
                    <h2>La qualité de vie du territoire Ardèche et Drôme</h2>
              </div>

                    <ul>
                       <li class="ocre scale2"><a>le climat</a></li>
                       <li class="bleu scale2"><a>la richesse des sous sols</a></li>
                       <li class="violet scale2"><a>le peu de pollution</a></li> 
                    </ul> 

      <p>donnent des produit excellents pour la santé
      Le choix des produits de base ,sont  souvent de provenance' Locale' afin de privilégier les circuits les + courts pour ne pas avoir besoin de conservateurs!</p> 
      </body>
</html>
                    