<div class="block">
  <h2>La qualité de vie du territoire Ardèche et Drôme</h2>
</div>
<img class="center" src="montmiral_2_seauve.jpg" />
<div class="cubes">
   <div class="cube ocre scale"><a>le climat</a></div>
   <div class="cube bleu scale"><a>la richesse des sous sols</a></div>
   <div class="cube"><a></a></div>
   <div class="cube violet scale"><a>le peu de pollution</a></div>
   <div class="cube"><a></a></div>
</div>

<p>Nous donnent des produit excellents pour la santé.</p>

<p>Le choix des produits de base sont  souvent de provenance <strong>locale</strong> afin de privilégier les circuits les plus courts pour ne pas avoir besoin de conservateurs et réduire la cosommation des combustibles.</p>
<p>Réduire les transports, c'est aussi réduire l'émission de CO² responsable des effets de serre et du réchauffement climatique.</p>
