<!DOCTYPE html>
<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Parcours Agroalimentaire</title>
       </head>
              <h1 class="animation">Ai-je ma place dans l'ago-alimentaire ?</h1>
              <h2>Pourquoi estimes-tu que les perspectives sont bonnes ?</h2> 
              <p> selon vos connaissances et expériences de départ, les progressions sont très variables mais toujours fortement positives.</p>
              <p>En début je gagne le SMIC mais très vite mon salaire peut se développer. 
              Même si je travaille irrégulierrement, je touche des primes.</p>
              <ul>
                    <li class="bleu scale"><a href="">Travail en poste + rémunérateur...</a></li>
                    <li class="gris scale"><a href="">parfois des heures suplémentaires rémunérés</a></li>
              </ul>      
              <p>En début je gagne le SMIC mais très vite mon salaire peut se développer. 
              Même si je travaille irrégulierrement, je touche des primes.</p>
       </div>
</html>