<!DOCTYPE html>
<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Art des Choix</title>
       </head>
       <div>
              <h1 class="animation">Et maintenant on va où ?</h1>
              <img src="marcheur.gif" class="img" />
              <div class="block">
                     <h2>Tout est une question de choix dans la vie :</h2>
                     <p>Tu te t'aères l'esprit et tu reviens vite pour :</p>
              </div>
              <ul>
                     <li id="prem"><a href="attendre">Attendre<br />
                     des instructions</a></li>
                     <li id="deux"><a href="ordinateur">Ouvrir<br />
                     ton ordinateur</a></li>
                     <li id="trois"><a href="cafe">Boire<br/>
                     un cafe</a></li>
                     <li id="quatre"><a href="fumer">Fumer<br />
                     une clope</a></li>
                     <li id="cinq"><a href="bavarder">Bavarder<br />
                     avec tes camarades</a></li>
              </ul>
       </div>
</html>