<div class="block">
   <h2>Combien va-t-on me rénuméré ?</h2>
</div>
<p> Selon vos connaissances et expériences de départ, les progressions sont très variables, mais toujours fortement positives.</p>
<p>Au début je gagne le SMIC mais très vite mon salaire peut se développer.
Même si je travaille irrégulierrement, je touche des primes.</p>
<div class="cubes">
  <div class="cube bleu scale"><a>Travail en poste plus rémunérateur</a></div>
  <div class="cube gris scale"><a>Parfois des heures suplémentaires rémunérés</a></div>
</div>
