<!DOCTYPE html>
<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Parcours Agroalimentaire</title>
       </head>
       <body>
       
              <h1 class="animation">Ai-je ma place dans l'ago-alimentaire ?</h1>
              <nav>
                      <a href="/" title="S'y rendre">Accueil</a>    
                      <a href="qualite" title="S'y rendre">Qualité</a>
                      <a href="diplome" title="S'y rendre">Diplômes</a>
                      <a href="perspectives" title="S'y rendre">Perspectives</a>
                      <a href="bilan_agroalimentaire" title="S'y rendre">Bilan</a>
                      <a href="filiere" title="S'y rendre">Filière</a>          
              </nav>      
              <div class="block">
                 <h2>Combien va-t-on me rénuméré ?</h2>
              </div>
              <p> Selon vos connaissances et expériences de départ, les progressions sont très variables, mais toujours fortement positives.</p>
              <p>Au début je gagne le SMIC mais très vite mon salaire peut se développer. 
              Même si je travaille irrégulierrement, je touche des primes.</p>
              <div class="cubes">
                    <div class="cube bleu scale"><a>Travail en poste plus rémunérateur</a></div>
                    <div class="cube gris scale"><a>Parfois des heures suplémentaires rémunérés</a></div>
              </div>    
       </body>
</html>