<!DOCTYPE html>
<html>
       <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>ArtdesChoix</title>
       </head>
      <div>
            <h1 class="animation">Et maintenant on va où ?</h1>
            <img src="Comment-s-organiser-114317_L.jpg" class="img" />
            <div>
                  <h2>Tout est une question de choix dans la vie :</h2>
                  <p>Maintenant que tu es organiser, tu vas :</p>
            </div>
            <ul>
                 <li id="prem"><a href="ordinateur">Ouvrir<br />
                  ton ordinateur</a></li>
                 <li id="deux"><a href="fumer">Fumer<br />
                 une clope</a></li>
                 <li id="trois"><a href="faire_tour">Faire<br/>
                 un tour</a></li>
                 <li id="quatre"><a href="attendre">Attendre<br />
                 des instructions</a></li>
                  <li id="cinq"><a href="toilettes">Aller<br />
                 aux toilettes</a></li>
            <ul>
      </div>
</html>
