<!DOCTYPE html>
<html>
      <head>
       <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
       <title>Art des Choix</title>
       </head>
       <div>
  <body>     
              <h1 class="animation">Ai-je ma place dans l'ago-alimentaire ?</h1>
       
             <div>
                  <h2>Travail pour la vie</h2>
        
         <p>La filerie se développe très bien en drome et Ardeche et est en pleine croissance</p>
  </div>
  </body>       
</html>
