<!DOCTYPE html>
<html>
      <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="style2.css" />
      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <title>Art des Choix</title>
      </head>
      <div>
            <h1 class="animation">Ai-je ma place dans l'ago-alimentaire ?</h1>
            <div class="block">
                  <h2>Pourguoi aimes-tu  travailler avec des produits du terroir</h2>            
            </div>
            <ul>
                  <li id="prem"><a href="">J'aime le territoire<br />
                   de l'Ardèche et de la Drôme</a></li>
                  <li id="deux"><a href="qualite">Pour la qualité<br />
                  de ses produits</a></li>                  
            </ul>
      </div>
</html>