<div class="block">
  <h2>Pourquoi aimes-tu travailler avec des produits du terroir ?</h2>
</div>
<ul class="cubes">
  <li class="cube ocre scale"><a href="qualite">J'aime le territoire<br />
   de l'Ardèche et de la Drôme</a></li>
  <li class="cube vert scale"><a href="qualite">Pour la qualité<br />
  de ses produits</a></li>
</ul>
</div>
