* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@font-face {
       font-family: 'dayrom';
       src: url('dayrom.eot');
       src: url('dayrom.eot?#iefix') format('embedded-opentype'),
       url('dayrom.woff') format('woff'),
       url('dayrom.ttf') format('truetype'),
       url('dayrom.svg#Dayrom') format('svg');
       font-weight: normal;
       font-style: normal;
}
@font-face {
      font-family:'dayrom';
      src: url('dayrom.otf');
}
@font-face {
font-family:'lobster';
src: url('lobster.otf');
}
h1 {
       font-family: 'lobster', Verdana, sans-font;
       font-size: 2em
}
h3 {
  font-family: 'dayrom';
  text-align: center;
}
p {
       font-family: 'dayrom', Verdana, sans-font;
       text-align: center;
       font-size: 2em;
}
h2 {
       font-family: 'dayrom', Arial, sans-font;
       text-align: center;
       font-size: 3em;
}
ul {
       display: flex;
       flex-direction: row; /* affichage horizontal */
       flex-wrap: wrap; /* passage à la ligne autorisé */
       -webkit-align-items: center; /* Safari */
       margin: auto;
       padding: 0%;
       font-style: none;
       width: 800px;
       height: 800px;
       font-family: 'dayrom' , Arial, serif;
}
ul li a {
       text-decoration: none;
       font-family: 'dayrom' , Arial, serif;
       font-size: 2em;
       color: wheat;
       text-shadow: 2px 2px 4px black;
       margin: auto;
}
li {
       display: flex; /* IE fix */
       flex:0 0 33.333%;  boîtes non flexibles de largeur 33% 
       font-family: 'dayrom' , Arial, serif;
}
li:first-of-type, li:last-of-type {
      margin: 0 33.333%; /* 1ère et dernière boite centrées */
}
.block {
      display: flex;
      flex-direction: column;
      margin: 1em auto;
      background-color: #E5E5AD;
}
.scale{
       font-style: bold;
       text-align: center;
       -webkit-transition: 1s ease-in-out;
       -moz-transition: 1s ease-in-out;
       -o-transition: 1s ease-in-out;
       border-radius: 15% 15%;
       width: 33%;
       height: 33%;
}
.scale:hover {
       -webkit-transform:  scale(1.4);
       -moz-transform:  scale(1.4);
       -o-transform:  scale(1.4);
       -ms-transform:  scale(1.4);
        transform: scale(1.4);
}
.scale2 {
       font-style: bold;
       text-align: center;
       border-radius: 50px 50px;
       background-color: #40A497;
       -webkit-transition: 1s ease-in-out;
       -moz-transition: 1s ease-in-out;
       -o-transition: 1s ease-in-out;
       border-radius: 50px 50px;
       width: 33%;
       height: 33%;
}
.scale2:hover {
     -webkit-transform: rotate(360deg) scale(1.4);
     -moz-transform: rotate(360deg) scale(1.4);
     -o-transform: rotate(360deg) scale(1.4);
     -ms-transform: rotate(360deg) scale(1.4);
     transform: rotate(360deg) scale(1.4);
       background-color: black;
}
.bleu {
  background-color: #40A497;
}
.gris {
  background-color: #333333;
}
.ocre {
	background-color: #E8950C;
}
.violet {
  background-color: #9A3C62;
}
.vert {
	 background-color: #92913C;
}
.center {
       display: flex;
       margin: 50px auto;
       width: 60%;
}
.animation {  
    font-size: 3em;
       font-weight: bold;
       color: #222D72;
       text-align: center;
       margin: auto;
}
.animation:hover {
       font-size: 3em;
       font-weight: bold;
       color: #222D72;
       padding-left: 10%;
       -webkit-transform-origin: left center;
       -ms-transform-origin: left center;
        transform-origin: left center;
       -webkit-animation: fall 6s ;
        animation: fall 10s ;
}
@-webkit-keyframes fall {
      from, 15% {
              -webkit-transform: rotate(0) translateX(0);
              transform: rotate(0) translateX(0);
              opacity: 1;
              -webkit-animation-timing-function: cubic-bezier(.10, 2.02, .67, .57);
              animation-timing-function: cubic-bezier(.10, 2.02, .67, .57);
       }
       50%,
       60% {
              -webkit-transform: rotate(30deg) translateX(0);
              transform: rotate(30deg) translateX(0);
              opacity: 1;
              -webkit-animation-timing-function: cubic-bezier(.13, .84, .82, 1);
              animation-timing-function: cubic-bezier(.13, .84, .82, 1);
       }
        85%,
       to {
              -webkit-transform: rotate(30deg) translateX(200px);
              transform: rotate(30deg) translateX(200px);
              opacity: 0;
       }
}
@keyframes fall {
       from, 15% {
              -webkit-transform: rotate(0) translateX(0);
              transform: rotate(0) translateX(0);
              opacity: 1;
              -webkit-animation-timing-function: cubic-bezier(.07, 2.02, .67, .57);
              animation-timing-function: cubic-bezier(.07, 2.02, .67, .57);
       }
       50%,
       60% {
              -webkit-transform: rotate(65deg) translateX(0);
              transform: rotate(65deg) translateX(0);
              opacity: 1;
              -webkit-animation-timing-function: cubic-bezier(.13, .84, .82, 1);
              animation-timing-function: cubic-bezier(.13, .84, .82, 1);
       }
      85%,
      to {
              -webkit-transform: rotate(65deg) translateX(200px);
              transform: rotate(65deg) translateX(200px);
              opacity: 0;
       }
}

/* MEDIA QUERRIES */

@media (max-width: 800px){
      h1{

             font-size: 0.5em;
      }  
      ul {
             display: flex;
             flex-direction: row; /* affichage horizontal */
             flex-wrap: wrap; /* passage à la ligne autorisé */
             -webkit-align-items: center; /* Safari */
             margin: auto;
             padding: 0%;
             font-style: none;
             width: 400px;
             height: 400px;
             font-family: 'dayrom' , Arial, serif;
      }
      ul li a {
             text-decoration: none;
             font-family: 'dayrom' , Arial, serif;
             font-size: 1em;
             color: wheat;
             text-shadow: 2px 2px 4px black;
             margin: auto;
      }
      li {
             display: flex; /* IE fix */
             flex:0 0 33.333%;  boîtes non flexibles de largeur 33% 
             font-family: 'dayrom' , Arial, serif;
      }
      li:first-of-type, li:last-of-type {
            margin: 0 33.333%; /* 1ère et dernière boite centrées */
      }
@media (max-width:600px){
    h1{
           font-size: 0.5em;
    }
   
    ul {
           display: flex;
           flex-direction: row; /* affichage horizontal */
           flex-wrap: wrap; /* passage à la ligne autorisé */
           -webkit-align-items: center; /* Safari */
           margin: auto;
           padding: 0%;
           font-style: none;
           width: 300px;
           height: 300px;
           font-family: 'dayrom' , Arial, serif;
    }
    ul li a {
           text-decoration: none;
           font-family: 'dayrom' , Arial, serif;
           font-size: 0.6em;
           color: wheat;
           text-shadow: 2px 2px 4px black;
           margin: auto;
    }
    li {
           display: flex; /* IE fix */
           flex:0 0 33.333%;  boîtes non flexibles de largeur 33% 
           font-family: 'dayrom' , Arial, serif;
    }
    li:first-of-type, li:last-of-type {
          margin: 0 33.333%; /* 1ère et dernière boite centrées */
    } 
   
    